 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

} 

body{
  background-color: rgb(51, 51, 53);
 
}
.name{
  margin-top: 50px;
  padding: 15px;
  text-shadow: 
    2px 3px 1px rgb(158, 109, 207),
    5px 5px 2px rgb(237, 232, 237),
    8px 8px 3px rgb(13, 181, 243)

}
.name {
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 5%;
    width: 100%
  }

  to {
    margin-left: 0%;
    width: 50%;
  }
}
/* ////////////// profiler */
.hability{
  width: 100%;
  height: 380px;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.simbolos {
  width: 100%;
  background-color: transparent;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  top: 0;
}

.simbolos img {
  background-color: gold;
  border-radius: 50%;
  width: 80px;
  padding: 10px;
}

.container-profiler{
  width: 90%;
  background-image: url(https://es.digitaltrends.com/wp-content/uploads/2020/05/fondos-escritorio-multipantalla-wallpaperfusion-reflective-world.jpg?resize=1680%2C480&p=1);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container-profiler a img {
  width: 70px;
  transition: all 0.5s;
  background-color: transparent;
}

.container-profiler a:hover img {
  transform: scale(1.15);
}

.my-photo {
  width: 320px;
  border-radius: 50%;
  overflow: hidden;
}

.my-photo img {
  width: 100%;
}

.lateral {
  height: 100%;
  width: 10%;
  background-color: gold;
  overflow: hidden;
  position: relative;
}
.container-slider-lateral {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  animation: infinite 8s infinite;
  /* translate: 0 -100%; */
  /* background-color: #e74c3c; */
}

@keyframes infinite {
  0% {
    translate: 0 0;
  }
  /* 50% {
    translate: 0 -100%;
  } */
  100% {
    translate: 0 -100%;
  }
}

.images-inlateral{
  height: 20%;
  width: 100%;
  /* position: absolute; */
}

/* /////////// cv    /////////////// */
.cv-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cv-container h3 {
  color: white;
}

.download-cv{
  background-color: rgb(197, 197, 222);
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.download-cv:hover {
  background-color: rgb(217, 223, 43);
  transform: scale(1.1);
}

.cv-container a {
  text-decoration: none;
}

/* ////////////// Portfolio  - slider///////////// */

.container-title-project {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 2px 20px;
  border-bottom: solid 2px rgb(140, 138, 138);
  margin: 80px 0;
  box-shadow: 0 50px 20px 2px rgb(89, 88, 88);
}

.slider{
  width: 100%;
  height: 600px;
}

.container-title-project h2 {
  font-family: fantasy;
  color: aliceblue;
  
}

.image-slider-porfolio{
  width: 100%;
}

/* ////////// footer */

footer {
  height: 250px;
  display: flex;
  padding: 60px 30px;
  gap: 30px;
  position: relative;
  background-color: rgb(45, 44, 44);
  margin: 70px 0 0 0;
  color: antiquewhite;
}

.images-footer{
  position: absolute;
  bottom: 20px;
  right: 20px;
 
}
.images-footer img {
  width: 60px;
  cursor: pointer;
}

/* ///////// Contact //////// */
.contact{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.contact-form{
  width: 50vw;
  max-width: 600px; 
  text-align: center; 
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 10px;
}

.contact-form input, textarea {
  border-radius: 10px;
  border: none;
}

.form-contact-input-left {
  display: flex;
  gap: 20px;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 1/3;
}
.form-contact-input-left input{
  height: 50px;
  text-align: center;
}

.form-contact-input-right {
  grid-row: 1/3;
}

.form-contact-input-right textarea {
  height: 100%;
  width: 100%;
}

.form-contact-submit{
  grid-column: 1/3;
  background: #e74c3c;
}

/* nuevo formulario*/
.field {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column; 
  padding: 30px;
}

.field label {
  display: block;
  font-size: 18px;
  color: #f5f5fa;
  flex-direction: column;
  margin-top: 5px;

}

.field-name {
   display: block;
   min-width: 350px;
   line-height: 1.9;
   font-size: 14px;
   border-radius: 5px;
   border: none;

}


.field-email{
  min-width: 350px;
  
 color: black;
  border-radius: 5px;
}

input[type="submit"] {
  display: block;
  padding: 8px 10px;
  font-size: 19px;
  background-color: #052784;
  color: #f7f5fa;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  max-width: 100px;
  
}
textarea{
  width: 280px;
  background-color: #121013;
  color: white;
}
.field-booton {
  
  width: 180px;
}
.field-booton:hover {
  
  background-color: #2d0397;
  
}
/* punto de referncias antes de remodelar*/
/* .field {
  margin-bottom: 10px;
  padding: 10px;
}

.field label {
  display: block;
  font-size: 15px;
  color: #f7f1f1;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: #4460AA;
  color: #dbd8e0;
  border: none
} */